*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(back-img.jpg);
    background-color: rgb(89, 109, 221);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* width: 90%; */
    margin: 2rem;
    padding: 0.9rem;
    
    
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.form-note{
    color: white;
    text-align: center;
    position: relative;
    width: 80%;
}
.main-form{
    background-color:rgb(25, 33, 78) ;
    width:60% ;
    position: absolute;
    left: 20%;
    top: 9rem;
    padding: 20px;
    margin-right: 20px;
    color: aliceblue;
    line-height: 1rem;
}
.input{
    display: block;
    width: 100%;
    padding: 0.2rem;
}
select{
    display: block;
    width: 100%;
    padding: 0.2rem;
} 
label{
    line-height: 2rem;
}
.radio{
    gap: 2rem;
}
textarea{
    width: 100%;
}
button{
   background-color: green;
   color: white;
   width: 100%;
   padding: 1rem;
   margin: 1.5rem 0;
}
@media screen and (max-width:450px){
    .container{
        /* display: flex;
        justify-content: center;
        height: 100vh; */
        width: 100%;
    }
    .form-note{
        /* color: white;
        text-align: center;
        position: relative; */
        width: 100%;
    }
    .main-form{
        width:fit-content ;
        position: absolute;
        left: 7%;
        top: 9rem;
        padding: 10px;
        margin-right: 20px;
        line-height: 1.5rem;
    }
}

